<mat-card class="card" (click)="openModalDetails()" >
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>{{data?.name}}</mat-card-title>
    <mat-card-subtitle>{{data?.address}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{data?.image}}" alt="Photo of a hotel">
  <mat-card-content>
    <p>
     {{data.about}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <div class='price'>Preço :  {{data?.price | currency : 'BRL':'symbol':'1.2-2': 'pt-BR' }}</div>
    <mat-icon class='liked' *ngIf="data.liked" >favorite</mat-icon>
  </mat-card-actions>
</mat-card>
