.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  height: auto;
}

.mat-nav-list .mat-list-item {
  cursor: inherit !important;
}

.header-dash {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  .logo {
    margin-top: 10px;
    font-family: 'Birthstone', cursive;
    font-size: 4rem;
    font-weight: 700;
  }

  .search {
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;

    ::ng-deep mat-form-field {
      margin-top: 20px;
      color: white;
      width: 100%;
      .mat-form-field-prefix{
        margin-right: 10px;
      }
      .mat-form-field-flex {
        background-color: violet;
        padding-left: 20px;
        border-radius: 25px;
      }
      .mat-form-field-underline{
        display: none;
      }

      .mat-form-field-infix{
        border-top: 0px solid transparent;
      }
    }
  }
}


.container {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

mat-nav-list {
  input {
    display: none;
  }

  a label {
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
  }

  input:checked+a label {
    background-color: rosybrown;
  }

}
